<div class="form-group">
    <label for="attachmentFile">File input</label>
    <input type="file" nv-file-select uploader="uploader" id="attachmentFile">
</div>
<div class="form-group">
    <label for="attachmentFileName">File name</label>
    <input type="text" id="attachmentFileName" class="form-control" placeholder="Type name of the file here"
           ng-model="attachment.name">
</div>
<div class="form-group">
    <label for="attachmentComment">Comment</label>
    <input type="text" id="attachmentComment" class="form-control" placeholder="Type your comment here"
           ng-model="attachment.comment">
</div>
