<crm-form-wrapper form-title="vm.title" submit-text="{{vm.submitText}}" submit-btn="vm.submit()"
                  cancel-btn="vm.cancel()" crm-form-validation="roleForm">
    <form name="roleForm" class="form-group">
        <div class="form-group" crm-input-validation>
            <label for="role-name">Name</label>
            <input id="role-name" class="form-control" name="roleName" ng-model="vm.role.name" required>
            <span ng-show="roleForm.roleName.$dirty && roleForm.roleName.$error.required" class="help-block">Group name is required</span>
        </div>
        <div class="form-group" crm-input-validation>
            <label for="role-description">Description</label>
        <textarea id="role-description" class="form-control" name="role-description"
                  ng-model="vm.role.description"></textarea>
        </div>
        <privileges object-types="vm.objectTypes"></privileges>
    </form>
</crm-form-wrapper>
