<form-panel title="vm.title" submit-text="vm.submitText" cancel-text="vm.cancelText" submit-btn="vm.submit()"
            cancel-btn="vm.cancel()">
    <form class="form">
        <div class="form-group">
            <label for="role-name">Name</label>
            <input id="role-name" class="form-control" name="role-name" ng-model="vm.role.name">
        </div>
        <div class="form-group">
            <label for="role-description">Description</label>
        <textarea id="role-description" class="form-control" name="role-description"
                  ng-model="vm.role.description"></textarea>
        </div>
        <privileges object-types="vm.objectTypes"></privileges>
    </form>
</form-panel>