.outline-none a.accordion-toggle {
    outline: none;
    h4:hover {
        text-decoration: underline;
    }
}

/*hack to increase specificity*/
.timeless.timeless {
    margin: 0 auto;
    display: block;
}

.column {
    .column__icon, .column__text {
        display: inline-block;
    }
}

.column.column--sortable {
    .column__icon {
        width: 14px;
        height: 16px;
    }
    .column__text {
        text-align: left;
    }
}

.column.column--status,
.column.column--priority {
    width: 6em;
}

.column.column--date {
    width: 9em;
}

.comment {
    word-wrap: break-word;
}
