.outline-none a.accordion-toggle {
    outline: none;
    h4:hover {
        text-decoration: underline;
    }
}

/*hack to increase specificity*/
.timeless.timeless {
    margin: 0 auto;
    display: block;
}

.column {
    .column__icon, .column__text {
        display: inline-block;
    }
}

.column.column--sortable {
    .column__icon {
        width: 14px;
        height: 16px;
    }
    .column__text {
        text-align: left;
    }
}

.column.column--status,
.column.column--priority {
    width: 6em;
}

.column.column--date {
    width: 9em;
}

.comment {
    padding: 19px;
}

.comment .comment__button {
    visibility: hidden;
}

.comment:hover .comment__button {
    visibility: visible;
    display: inline-block;
}

.comment__content {
    word-wrap: break-word;
}

.comment__button {
    margin-left: 3px;
}

.comment__button--remove {
    background: url("../assets/icons/delete.svg");
    background-size: contain;
    width: 18px;
    height: 18px;
}

.comment__button--edit {
    background: url("../assets/icons/edit.svg");
    background-size: contain;
    width: 18px;
    height: 18px;
}
