.outline-none a.accordion-toggle {
    outline: none;
    h4:hover {
        text-decoration: underline;
    }
}

/*hack to increase specificity*/
.timeless.timeless {
    margin: 0 auto;
    display: block;
}

.row--fixed-height {
    height: 125px;
}
