<div class="panel panel-default">
    <div class="panel-heading">
        <crm-contact-table-header title="Emails"
                                  adding-function="vm.details.email.add"
                                  removing-function="vm.details.email.remove"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed" ng-show="vm.contact.emails.length>0">
        <thead>
        <tr>
            <th></th>
            <th>Email</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="email in vm.contact.emails"
            ng-dblclick="vm.canEdit ? vm.details.email.edit(email, vm) : null">
            <td class="crm-narrow">
                <input ng-model="email.checked" type="checkbox" ng-show="vm.canEdit">
            </td>
            <td>{{email.name}}</td>
            <td>{{vm.details.email.getTypeName(email.type,vm.dictionary.emailTypes)}}</td>
        </tr>
        </tbody>
    </table>
</div>
