<div class="panel panel-default" ng-if="vm.canEdit || (!vm.canEdit && vm.contact.messengers.length>0)">
<div class="panel-heading">
        <crm-contact-table-header title="Messengers" adding-function="vm.details.messenger.add"
                                  removing-function="vm.details.messenger.remove"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed crm-table-fixed" ng-show="vm.contact.messengers.length > 0">
        <thead>
        <tr>
            <th class="crm-narrow"><input type="checkbox"
                       ng-show="vm.canEdit"
                       title="select Messengers"
                       ng-click="vm.details.checkAll(vm.contact.messengers, vm.contact.messengers.isSelectedAll)"
                       ng-model="vm.contact.messengers.isSelectedAll"></th>
            <th class="col-xs-8">Username</th>
            <th class="col-xs-4">Messenger</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in vm.contact.messengers"
            ng-click="vm.canEdit ? vm.details.messenger.edit(account, vm) : null"
            class="crm-hover">
            <td>
                <input ng-model="account.checked"
                       type="checkbox"
                       ng-show="vm.canEdit"
                       title="select Messenger"
                       ng-click="vm.details.isAllSelected(vm.contact.messengers); $event.stopPropagation()"
                       ng-init="vm.details.isAllSelected(vm.contact.messengers)">
            </td>
            <td>{{account.username}}</td>
            <td>{{vm.details.messenger.getTypeName(account.messenger, account.description, vm.dictionary.messengers)}}</td>
        </tr>
        </tbody>
    </table>
</div>
