<div class="col-md-10">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" crm-input-validation>
                <label for="contact-first-name">First name</label>
                <input ng-disabled="!vm.canEdit" id="contact-first-name" class="form-control"
                       name="firstName"
                       ng-model="vm.contact.firstName" required maxlength="50">
                <span ng-show="contactForm.firstName.$dirty && contactForm.firstName.$error.required"
                      class="help-block">First name is required</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" crm-input-validation>
                <label for="contact-last-name">Last name</label>
                <input ng-disabled="!vm.canEdit" id="contact-last-name" class="form-control"
                       name="lastName"
                       ng-model="vm.contact.lastName" required maxlength="50">
                <span ng-show="contactForm.lastName.$dirty && contactForm.lastName.$error.required"
                      class="help-block">Last name is required</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" crm-input-validation>
                <label for="contact-patronymic">Patronymic</label>
                <input ng-disabled="!vm.canEdit" id="contact-patronymic" class="form-control"
                       name="patronymic"
                       ng-model="vm.contact.patronymic" maxlength="50">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" crm-input-validation>
                <label for="contact-date-of-birth">Date of birth</label>
                <input ng-disabled="!vm.canEdit"
                       id="contact-date-of-birth"
                       uib-datepicker-popup
                       placeholder="yyyy-MM-dd" min="1900-01-01"
                       crm-custom-date-validation
                       max-date="{{vm.details.now|date:'yyyy-MM-dd'}}"
                       min-date="1900-01-01"
                       pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                       class="form-control"
                       name="dateOfBirth"
                       ng-model="vm.contact.dateOfBirth">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" crm-input-validation>
                <label for="contact-is-male">Gender</label>
                <select ng-disabled="!vm.canEdit" id="contact-is-male" class="form-control"
                        name="isMale" ng-model="vm.contact.isMale"
                        ng-options="o.v as o.n for o in [{n:'Please, select',v:null},{n:'Female',v:false},{n:'Male', v:true}]">
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group" crm-input-validation>
                <label for="contact-nationality">Nationality</label>
                <input ng-disabled="!vm.canEdit" id="contact-nationality" class="form-control"
                       name="nationality" ng-model="vm.contact.nationality" maxlength="255">
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="row">
        <div>
            <input type="file"  id="attachmentFile" style="display: none"
                   nv-file-select uploader="vm.uploader" >
        </div>

        <div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 ">
            <img class="img-responsive center-block" id="imageID"
                 crm-avatar-image contact="{{vm.contact.id}}" ng-src=""
                 uib-popover-template="'app/components/contact/directive/general-info/contact/image/popover.html'"
                 popover-placement="bottom-right"  popover-is-open="vm.isOpen" popover-append-to-body="true"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" crm-input-validation>
                <input ng-disabled="!vm.canEdit" id="contact-photo" class="form-control" type="hidden"
                       name="photoUrl" ng-model="vm.contact.photoUrl" maxlength="255">
            </div>
        </div>
    </div>

</div>
