<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <import resource="classpath*:securityServicesContext.xml"/>
    <import resource="classpath*:businessServicesContext.xml"/>

    <!--<sec:http pattern="/rest/login" security="none"/>-->

    <!--<sec:http pattern="/rest/**" create-session="stateless" auto-config="false"-->
              <!--entry-point-ref="unauthorizedEntryPoint">-->
        <!--<sec:expression-handler ref="webSecurityExpressionHandler"/>-->
        <!--<sec:custom-filter ref="customTokenAuthenticationFilter" position="FORM_LOGIN_FILTER"/>-->
        <!--<sec:intercept-url pattern="/**" access="hasRole('USER')"/>-->
        <!--<sec:csrf disabled="true"/>-->
    <!--</sec:http>-->

    <sec:http pattern="/rest/**" security="none"/>

    <sec:authentication-manager id="authenticationManager">
        <sec:authentication-provider ref="daoAuthenticationProvider"/>
    </sec:authentication-manager>

    <bean id="unauthorizedEntryPoint" class="com.itechart.security.web.security.UnauthorizedEntryPoint"/>
    <bean id="authenticationSuccessHandler" class="com.itechart.security.web.security.TokenSimpleUrlAuthenticationSuccessHandler"/>
    <bean id="tokenService" class="com.itechart.security.web.security.TokenWorker"/>

    <bean id="antPathRequestMatcher" class="org.springframework.security.web.util.matcher.AntPathRequestMatcher">
        <constructor-arg name="pattern" value="/rest/**"/>
    </bean>
    <bean id="customTokenAuthenticationFilter"
          class="com.itechart.security.web.security.CustomTokenAuthenticationFilter">
        <constructor-arg name="tokeLifetime" value="3000000"/><!--50 minutes-->
        <constructor-arg name="defaultFilterProcessesUrl" value="/rest/**"/>
        <property name="requiresAuthenticationRequestMatcher" ref="antPathRequestMatcher"/>
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
    </bean>
</beans>
