<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <import resource="classpath*:securityServicesContext.xml"/>
    <import resource="classpath*:businessServicesContext.xml"/>

    <sec:http pattern="/rest/**" create-session="stateless" entry-point-ref="unauthorizedEntryPoint">
        <sec:expression-handler ref="webSecurityExpressionHandler"/>
        <sec:intercept-url pattern="/rest/login" access="permitAll"/>
        <sec:intercept-url pattern="/**" access="hasRole('USER')"/>
        <sec:csrf disabled="true"/>
    </sec:http>

    <bean id="unauthorizedEntryPoint" class="com.itechart.security.web.security.UnauthorizedEntryPoint"/>

    <sec:authentication-manager id="authenticationManager">
        <sec:authentication-provider ref="daoAuthenticationProvider"/>
    </sec:authentication-manager>

</beans>