<div class="page-header">
    <h2>{{vm.title}}</h2>
</div>
<form class="form" name="userForm" custom-submit="vm.submit()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" input-validation>
                <label for="firstName">First name</label>
                <input id="firstName" class="form-control" name="firstName" ng-model="vm.user.firstName" required>
                <span ng-show="userForm.firstName.$dirty && userForm.firstName.$error.required" class="help-block">First name name is required</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" input-validation>
                <label for="lastName">Last name</label>
                <input id="lastName" class="form-control" name="lastName" ng-model="vm.user.lastName" required>
                <span ng-show="userForm.lastName.$dirty && userForm.lastName.$error.required" class="help-block">Last name is required</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" input-validation>
                <label for="userName">User name</label>
                <input ng-disabled="vm.user.id" id="userName" class="form-control" name="userName"
                       ng-model="vm.user.userName" required>
                <span ng-show="userForm.userName.$dirty && userForm.userName.$error.required" class="help-block">User name is required</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-hide="vm.user.id" input-validation>
                <label for="password">Password</label>
                <input id="password" class="form-control" name="password" ng-model="vm.user.password"
                       ng-required="!vm.user.id">
                <span ng-show="userForm.password.$dirty && userForm.password.$error.required" class="help-block">Password is required</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group" input-validation>
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" name="email" ng-model="vm.user.email" required>
                    <span ng-show="userForm.email.$dirty">
                        <span ng-show="userForm.email.$error.required" class="help-block">Email is required</span>
                        <span ng-show="userForm.email.$error.email" class="help-block">Enter valid email</span>
                    </span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="active">Active</label>
                <input id="active" type="checkbox" class="form-control" ng-model="vm.user.active"
                       ng-checked="vm.user.active">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="groups">Groups</label>
            <ul id="groups" class="list-unstyled list--scrollable">
                <li ng-repeat="group in vm.groups">
                    <input type="checkbox" ng-model="group.checked" ng-checked="group.checked"> {{group.name}}
                </li>
            </ul>
        </div>
        <div class="form-group col-md-6">
            <label for="roles">Roles</label>
            <ul id="roles" class="list-unstyled list--scrollable">
                <li ng-repeat="role in vm.roles">
                    <input type="checkbox" ng-model="role.checked" ng-checked="role.checked"> {{role.name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3 pull-right">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
                </div>
                <div class="btn-group">
                    <button type="submit" for="submit-form" class="btn btn-primary">
                        {{vm.submitText}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>