<div class="panel panel-default">
    <div class="panel-heading">
        <crm-contact-table-header title="Social Networks"
                                  adding-function="vm.details.socialNetwork.add"
                                  removing-function="vm.details.socialNetwork.remove"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed crm-table-fixed" ng-show="vm.contact.socialNetworks.length>0">
        <thead>
        <tr>
            <th class="crm-narrow"><input type="checkbox"
                       ng-show="vm.canEdit"
                       title="select Social Network accounts"
                       ng-click="vm.details.checkAll(vm.contact.socialNetworks, vm.contact.socialNetworks.isSelectedAll)"
                       ng-model="vm.contact.socialNetworks.isSelectedAll"></th>
            <th class="col-xs-7">URL</th>
            <th class="col-xs-4">Social Network</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in vm.contact.socialNetworks"
            ng-click="vm.canEdit ? vm.details.socialNetwork.edit(account, vm) : null"
            class="crm-hover">
            <td>
                <input ng-model="account.checked"
                       type="checkbox"
                       ng-show="vm.canEdit"
                       title="select Social Network account"
                       ng-click="vm.details.isAllSelected(vm.contact.socialNetworks); $event.stopPropagation()"
                       ng-init="vm.details.isAllSelected(vm.contact.socialNetworks)">
            </td>
            <td>{{account.url}}</td>
            <td>{{vm.details.socialNetwork.getTypeName(account.socialNetwork, vm.dictionary.socialNetworks)}}</td>
            <td>
                <a ng-show="vm.details.isLinkedInUrl(account.url)" ng-click="vm.details.parseProfile(vm, account.url)"
                   class="btn btn-default pull-right">Load
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
