<div class="panel panel-default">
    <div class="panel-heading">
        <crm-contact-table-header title="Social Networks"
                                  adding-function="vm.details.socialNetwork.add"
                                  removing-function="vm.details.socialNetwork.remove"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed" ng-show="vm.contact.socialNetworks.length>0">
        <thead>
        <tr>
            <th></th>
            <th>URL</th>
            <th>Social Network</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in vm.contact.socialNetworks"
            ng-dblclick="vm.canEdit ? vm.details.socialNetwork.edit(account, vm) : null">
            <td class="crm-narrow">
                <input ng-model="account.checked"
                       type="checkbox"
                       ng-show="vm.canEdit"
                       title="select Social Network account">
            </td>
            <td style="word-wrap: break-word;">{{account.url}}</td>
            <td>{{vm.details.socialNetwork.getTypeName(account.socialNetwork, vm.dictionary.socialNetworks)}}</td>
            <td>
                <a ng-show="vm.details.isLinkedInUrl(account.url)" ng-click="vm.details.parseProfile(vm, account.url)"
                        class="btn btn-default pull-right">Load
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
