<div class="panel panel-default">
    <div class="panel-heading">
        <crm-contact-table-header title="Telephones" adding-function="vm.details.telephone.add"
                                  removing-function="vm.details.telephone.remove"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed" ng-show="vm.contact.telephones.length>0">
        <thead>
        <tr>
            <th></th>
            <th>Number</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="telephone in vm.contact.telephones"
            ng-dblclick="vm.canEdit ? vm.details.telephone.edit(telephone, vm) : null">
            <td class="crm-v-middle crm-narrow">
                <input ng-model="telephone.checked" ng-show="vm.canEdit" type="checkbox">
            </td>
            <td>{{telephone.number}}</td>
            <td>{{vm.details.telephone.getTypeName(telephone.type, vm.dictionary.telephoneTypes)}}</td>
        </tr>
        </tbody>
    </table>
</div>
