<div>
    <div class="row">
        <div class="form-group col-md-12" crm-input-validation>
            <label for="task-name">Name</label>
            <input id="task-name" type="text" name="taskName" class="form-control" ng-model="vm.task.name" required ng-readonly="!vm.canEdit">
            <span ng-show="taskForm.taskName.$dirty && taskForm.taskName.$error.required" class="help-block">Task name is required</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12" crm-input-validation>
            <label for="task-location">Location</label>
            <input id="task-location" type="text" name="taskLocation" class="form-control" ng-model="vm.task.location" required ng-readonly="!vm.canEdit">
            <span ng-show="taskForm.taskName.$dirty && taskForm.taskName.$error.required" class="help-block">Task location is required</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="form-group">
                <label for="timeless">Timeless</label>
                <input id="timeless" type="checkbox" class="form-control" ng-model="vm.timeless" value="Timeless">
            </div>
        </div>
        <div ng-class="vm.timeless ? 'collapse' : 'col-md-4'">
            <div class="datetime-group">
                <div class="form-group">
                    <label>Start date/time</label>
                    <crm-datepicker model="vm.task.startDate" onchange="vm.onStartDateChange()" datepickerOptions="vm.datepickerOptions" is-edit="vm.canEdit"></crm-datepicker>
                </div>
                <div class="form-group">
                    <uib-timepicker ng-model="vm.task.startDate" show-meridian="false"></uib-timepicker>
                </div>
            </div>
            <div class="datetime-group">
                <div class="form-group">
                    <label>End date/time</label>
                    <crm-datepicker model="vm.task.endDate" datepickerOptions="vm.datepickerOptions" is-edit="vm.canEdit"></crm-datepicker>
                </div>
                <div class="form-group">
                    <uib-timepicker ng-model="vm.task.endDate" show-meridian="false"></uib-timepicker>
                </div>
            </div>
        </div>
        <div ng-class="vm.timeless ? 'col-md-11' : 'col-md-7'">
            <div class="form-group">
                <label for="task-status">Status</label>
                <select id="task-status" class="form-control" ng-model="vm.task.status" ng-disabled="!vm.canEdit"
                        ng-options="x as x.name for x in vm.statuses track by x.id"></select>
            </div>
            <div class="form-group">
                <label for="task-priority">Priority</label>
                <select id="task-priority" class="form-control" ng-model="vm.task.priority" ng-disabled="!vm.canEdit"
                        ng-options="x as x.name for x in vm.priorities track by x.id"></select>
            </div>
            <div class="form-group">
                <label for="task-assignee">Assignee</label>
                <select id="task-assignee" class="form-control" ng-model="vm.task.assignee" ng-disabled="!vm.canEdit"
                        ng-options="x as x | fullName for x in vm.assigns track by x.id"></select>
            </div>
        </div>
    </div>
</div>
