<div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group " crm-input-validation>
                <label for="task-name">Name</label>
                <input id="task-name" type="text" name="taskName" class="form-control" ng-model="vm.task.name" required ng-readonly="!vm.canEdit">
                <span ng-show="taskForm.taskName.$dirty && taskForm.taskName.$error.required" class="help-block">Task name is required</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" crm-input-validation>
                <label for="task-location">Location</label>
                <input id="task-location" type="text" name="taskLocation" class="form-control" ng-model="vm.task.location" required ng-maxlength="500" ng-readonly="!vm.canEdit">
                <span ng-show="taskForm.taskName.$dirty && taskForm.taskName.$error.required" class="help-block">Task location is required</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="form-group">
                <label for="timeless">Timeless</label>
                <input id="timeless" type="checkbox" class="timeless" data-toggle="collapse" data-target=".datetime-group" ng-model="vm.timeless" value="Timeless">
            </div>
        </div>
        <div class="col-md-11">
            <div class="row collapse datetime-group">
                <div class="col-md-6">
                    <div class="date-group form-group">
                        <label>Start date/time</label>
                        <crm-datepicker model="vm.task.startDate" onchange="vm.onStartDateChange()" datepickerOptions="vm.datepickerOptions" is-edit="vm.canEdit"></crm-datepicker>
                    </div>
                    <div class="time-group form-group">
                        <uib-timepicker ng-model="vm.task.startDate" show-meridian="false"></uib-timepicker>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="date-group form-group">
                        <label>End date/time</label>
                        <crm-datepicker model="vm.task.endDate" datepickerOptions="vm.datepickerOptions" is-edit="vm.canEdit"></crm-datepicker>
                    </div>
                    <div class="time-group form-group">
                        <uib-timepicker ng-model="vm.task.endDate" show-meridian="false"></uib-timepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="task-description">Details</label>
                        <textarea id="task-description" class="form-control" ng-model="vm.task.description" rows="7" ng-maxlength="500"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="task-status">Status</label>
                    <select id="task-status" class="form-control" ng-model="vm.task.status" ng-disabled="!vm.canEdit"
                            ng-options="x as x.name for x in vm.statuses track by x.id"></select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="task-priority">Priority</label>
                    <select id="task-priority" class="form-control" ng-model="vm.task.priority" ng-disabled="!vm.canEdit"
                            ng-options="x as x.name for x in vm.priorities track by x.id"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="task-assignee">Assignee</label>
                    <select id="task-assignee" class="form-control" ng-model="vm.task.assignee" ng-disabled="!vm.canEdit"
                            ng-options="x as x | fullName for x in vm.assigns track by x.id"></select>
                </div>
            </div>
        </div>
    </div>
</div>
