<crm-form-wrapper form-title="vm.title" submit-text="{{vm.submitText}}" cancel-text="{{vm.cancelText}}"
                  submit-btn="vm.submit()"
                  cancel-btn="vm.cancel()" crm-form-validation="contactForm">
    <form name="contactForm" class="form-group">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Personal Info">
                <div class="row crm-top-buffer">
                    <div class="col-md-6">
                        <div class="form-group" crm-input-validation>
                            <label for="contact-first-name">First name</label>
                            <input ng-disabled="!vm.canEdit" id="contact-first-name" class="form-control"
                                   name="firstName"
                                   ng-model="vm.contact.firstName" required>
                        <span ng-show="contactForm.firstName.$dirty && contactForm.firstName.$error.required"
                              class="help-block">First name is required</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" crm-input-validation>
                            <label for="contact-last-name">Last name</label>
                            <input ng-disabled="!vm.canEdit" id="contact-last-name" class="form-control" name="lastName"
                                   ng-model="vm.contact.lastName" required>
                            <span ng-show="contactForm.lastName.$dirty && contactForm.lastName.$error.required"
                                  class="help-block">Last name is required</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" crm-input-validation>
                            <label for="contact-email">Email</label>
                            <input type="email" ng-disabled="!vm.canEdit" id="contact-email" class="form-control"
                                   name="email"
                                   ng-model="vm.contact.email" required>
                    <span ng-show="contactForm.email.$dirty">
                        <span ng-show="contactForm.email.$error.required" class="help-block">Email is required</span>
                        <span ng-show="contactForm.email.$error.email" class="help-block">Enter valid email</span>
                    </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" crm-input-validation>
                            <label for="contact-address">Address</label>
                            <input ng-disabled="!vm.canEdit" id="contact-address" class="form-control" name="address"
                                   ng-model="vm.contact.address">
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Access">
                <div class="row crm-top-buffer">
                    <div class="col-xs-12 col-sm-6"><h4>Permissions</h4></div>
                    <div class="col-xs-12 col-sm-6 pull-right">
                        <div class="btn-group btn-group-justified pull-right">
                            <a class="btn btn-default" ng-click="vm.actions.addPermissionsForUser(vm)"
                               ng-show="vm.canEdit">
                                Add user
                            </a>
                            <a class="btn btn-default" ng-click="vm.actions.addPermissionsForGroup(vm)"
                               ng-show="vm.canEdit">
                                Add group
                            </a>
                            <a class="btn btn-default" ng-click="vm.actions.removePermissions(vm)"
                               ng-show="vm.canEdit">
                                Remove
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th>Read</th>
                        <th>Write</th>
                        <th>Create</th>
                        <th>Delete</th>
                        <th>Admin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in vm.permissions">
                        <td><input ng-show="vm.canEdit" type="checkbox" ng-model="p.checked"></td>
                        <td><span title="{{p.principalTypeName}}" class="icon--small crm-hover"
                                  ng-class="{'icon--user': p.principalTypeName === 'user', 'icon--user-group': p.principalTypeName === 'group'}"></span>
                        </td>
                        <td>{{p.name}}</td>
                        <td><input ng-disabled="!vm.canEdit" type="checkbox" ng-model="p.canRead"></td>
                        <td><input ng-disabled="!vm.canEdit" type="checkbox" ng-model="p.canWrite"></td>
                        <td><input ng-disabled="!vm.canEdit" type="checkbox" ng-model="p.canCreate"></td>
                        <td><input ng-disabled="!vm.canEdit" type="checkbox" ng-model="p.canDelete"></td>
                        <td><input ng-disabled="!vm.canEdit" type="checkbox" ng-model="p.canAdmin"></td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
    </form>
</crm-form-wrapper>