<crm-form-wrapper form-title="vm.title" submit-text="{{vm.submitText}}" cancel-text="{{vm.cancelText}}"
                  submit-btn="vm.submit()"
                  cancel-btn="vm.cancel()" crm-form-validation="contactForm">
    <form name="contactForm" class="form-group">
        <uib-tabset active="active">
            <uib-tab heading="General Info">
                <div class="row crm-top-buffer">
                    <crm-contact vm="vm"></crm-contact>
                </div>
                <div class="row">
                    <crm-contact-social-networks vm="vm"></crm-contact-social-networks>
                </div>
            </uib-tab>

            <uib-tab heading="Contact Info">
                <div class="row crm-top-buffer">
                    <crm-contact-addresses vm="vm"></crm-contact-addresses>
                </div>
                <div class="row">
                    <crm-contact-telephones vm="vm"></crm-contact-telephones>
                </div>
                <div class="row">
                    <crm-contact-emails vm="vm"></crm-contact-emails>
                </div>
                <div class="row">
                    <crm-contact-messengers vm="vm"></crm-contact-messengers>
                </div>
            </uib-tab>

            <uib-tab heading="Work Experience">
                <div class="row crm-top-buffer">
                    <crm-contact-workplaces vm="vm"></crm-contact-workplaces>
                </div>
            </uib-tab>

            <uib-tab heading="Attachments">
                <div class="row crm-top-buffer">
                    <crm-contact-attachments vm="vm"></crm-contact-attachments>
                </div>
            </uib-tab>
            <uib-tab heading="Access">
                <acl-form handler="vm.aclHandler"></acl-form>
            </uib-tab>
        </uib-tabset>
    </form>
</crm-form-wrapper>
