<crm-form-wrapper form-title="vm.title" submit-text="{{vm.submitText}}" cancel-text="{{vm.cancelText}}"
                  submit-btn="vm.submit()"
                  cancel-btn="vm.cancel()" crm-form-validation="contactForm">
    <form name="contactForm" class="form-group">
        <uib-tabset active="active">
            <uib-tab index="0" heading="Personal Info">
                <div class="row crm-top-buffer">
                    <div class="col-md-6">
                        <div class="form-group" crm-input-validation>
                            <label for="contact-first-name">First name</label>
                            <input ng-disabled="!vm.canEdit" id="contact-first-name" class="form-control"
                                   name="firstName"
                                   ng-model="vm.contact.firstName" required>
                        <span ng-show="contactForm.firstName.$dirty && contactForm.firstName.$error.required"
                              class="help-block">First name is required</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" crm-input-validation>
                            <label for="contact-last-name">Last name</label>
                            <input ng-disabled="!vm.canEdit" id="contact-last-name" class="form-control" name="lastName"
                                   ng-model="vm.contact.lastName" required>
                            <span ng-show="contactForm.lastName.$dirty && contactForm.lastName.$error.required"
                                  class="help-block">Last name is required</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" crm-input-validation>
                            <label for="contact-email">Email</label>
                            <input type="email" ng-disabled="!vm.canEdit" id="contact-email" class="form-control"
                                   name="email"
                                   ng-model="vm.contact.email" required>
                    <span ng-show="contactForm.email.$dirty">
                        <span ng-show="contactForm.email.$error.required" class="help-block">Email is required</span>
                        <span ng-show="contactForm.email.$error.email" class="help-block">Enter valid email</span>
                    </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" crm-input-validation>
                            <label for="contact-address">Address</label>
                            <input ng-disabled="!vm.canEdit" id="contact-address" class="form-control" name="address"
                                   ng-model="vm.contact.address">
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Access">
                <acl-form handler="vm.aclHandler"></acl-form>
            </uib-tab>
            <uib-tab index="2" heading="Attachments">
                <div class="row crm-top-buffer">
                    <div class="col-xs-12 col-sm-6"><h4>Attachments</h4></div>
                    <div class="col-xs-12 col-sm-6 pull-right">
                        <div class="btn-group btn-group-justified pull-right">
                            <a class="btn btn-default" ng-click="vm.attachmentService.addAttachments(vm)" ng-show="vm.canEdit"> Add </a>
                            <a class="btn btn-default" ng-click="vm.attachmentService.removeAttachments(vm)" ng-show="vm.canEdit"> Remove </a>
                        </div>
                    </div>
                </div>
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <td></td>
                        <td>#</td>
                        <td>File</td>
                        <td>Date of upload</td>
                        <td>Comment</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="attachment in vm.attachments" ng-dblclick="vm.attachmentService.updateAttachment(attachment)">
                        <td><input type="checkbox" ng-model="attachment.checked" ng-show="vm.canEdit"
                                   title="select attachment"></td>
                        <td>{{$index + 1}}</td>
                        <td><a class="btn" target="_blank" ng-click="vm.attachmentService.getAttachment(attachment)">{{attachment.name}}</a></td>
                        <td>{{attachment.dateUpload | date:'yyyy-MM-dd'}}</td>
                        <td>{{attachment.comment}}</td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
    </form>
</crm-form-wrapper>
