<div class="panel panel-default">
    <div class="panel-heading">
        <crm-contact-table-header title="Attachments"
                                  adding-function="vm.attachmentService.addAttachments"
                                  removing-function="vm.attachmentService.removeAttachments"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed" ng-show="vm.attachments.length>0">
        <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>File</th>
            <th>Date of upload</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="attachment in vm.attachments"
            ng-dblclick="vm.attachmentService.updateAttachment(attachment)"
            class="crm-hover">
            <td>
                <input type="checkbox"
                       ng-model="attachment.checked"
                       ng-show="vm.canEdit"
                       title="select attachment">
            </td>
            <td>{{$index + 1}}</td>
            <td>
                <a ng-if="attachment.id"
                   ng-click="vm.attachmentService.getAttachment(attachment)">{{attachment.name}}</a>
                <span ng-if="!attachment.id">{{attachment.name}}</span>
            </td>
            <td>{{attachment.dateUpload | date:'yyyy-MM-dd'}}</td>
            <td>{{attachment.comment}}</td>
        </tr>
        </tbody>
    </table>
</div>
