<div class="page-header">
    <h4>Groups</h4>
</div>
<div class="row crm-bottom-buffer">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="vm.bundle.pagingFilterConfig.filterObject.$"
                   placeholder="Search...">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="btn-group btn-group-justified pull-right">
            <a class="btn btn-default" ng-click="vm.add()">
                Add
            </a>
            <a class="btn btn-default" ng-click="vm.remove()">
                Remove
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th><input type="checkbox" ng-model="vm. bundle.isSelectedAll"
                           ng-click="vm.bundle.selectAll(vm.bundle.isSelectedAll)"></th>
                <th class="crm-hover"
                    ng-click="vm.bundle.pagingFilterConfig.sortAsc = !vm.bundle.pagingFilterConfig.sortAsc">
                        <span class="glyphicon"
                              ng-class="vm.bundle.pagingFilterConfig.sortAsc ? 'glyphicon-sort-by-attributes' : 'glyphicon-sort-by-attributes-alt' ">
                        </span>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="crm-hover" ng-click="vm.edit(group)"
                ng-repeat="group in (vm.bundle.pageGroups = (vm.bundle.groupList | pagingFilter:vm.bundle.pagingFilterConfig))">
                <td><input type="checkbox" ng-model="group.checked"
                           ng-click="vm.bundle.selectOne(); $event.stopPropagation()">
                </td>
                </td>
                <td>{{group.name}}</td>
                <td>{{group.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="crm-text-center">
    <uib-pagination class="pagination-sm" ng-model="vm.bundle.pagingFilterConfig.currentPage"
                    ng-change="vm.bundle.isSelectedAll = false; vm.bundle.selectAll(vm.bundle.isSelectedAll)"
                    total-items="vm.bundle.pagingFilterConfig.totalCount"
                    items-per-page="vm.bundle.pagingFilterConfig.itemsPerPage"
                    max-size="vm.bundle.pagingFilterConfig.visiblePages"
                    boundary-links="true" rotate="false"></uib-pagination>
</div>
