<div class="panel panel-default">
    <div class="panel-heading">
        <crm-contact-table-header title="Social Networks"
                                  adding-function="vm.details.addSocialNetworkAccount"
                                  removing-function="vm.details.removeSocialNetworks"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed" ng-show="vm.contact.socialNetworks.length>0">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>URL</th>
            <th>Social Network</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in vm.contact.socialNetworks" ng-form="socialNetworksForm">
            <td>
                <input ng-model="account.checked"
                       type="checkbox"
                       ng-show="vm.canEdit"
                       title="select Social Network account">
            </td>
            <td>{{$index + 1}}</td>
            <td>
                <div crm-input-validation>
                    <input ng-model="account.url"
                           name="socialNetworkAccountUrl"
                           class="form-control"
                           ng-disabled="!vm.canEdit"
                           required maxlength="100">
                    <span
                        ng-show="socialNetworksForm.socialNetworkAccountUrl.$dirty &&  socialNetworksForm.socialNetworkAccountUrl.$error.required"
                        class="help-block">URL is required</span>
                </div>
            </td>
            <td>
                <div crm-input-validation class="crm-select-validation-icon">
                    <select ng-model="account.socialNetwork"
                            name="socialNetworkType"
                            class="form-control"
                            ng-options="option.id as option.name for option in vm.dictionary.socialNetworks"
                            ng-disabled="!vm.canEdit" required>
                        <option value="">Please, select</option>
                    </select>
                    <span
                        ng-show="socialNetworksForm.socialNetworkType.$dirty && socialNetworksForm.socialNetworkType.$error.required"
                        class="help-block">Messenger type is required</span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
