<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>logs/security-web/security-web.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/security-web/security-web.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.itechart.security" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.springframework.security" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="com..itechart.security" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.security" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.SQL" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
