<div class="page-header">
    <h4>Contacts</h4>
</div>
<div class="row crm-bottom-buffer">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="form-group">
            <input ng-model="vm.searchContactBundle.filter.text" ng-keyup="vm.searchContactBundle.typing.keyUp()"
                   ng-keydown="vm.searchContactBundle.typing.keyDown()" class="form-control"
                   placeholder="Search by first name, last name, email, address...">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="btn-group btn-group-justified pull-right">
            <a ng-show="vm.isManager" class="btn btn-default" ng-click="vm.add()">
                Add
            </a>
            <a class="btn btn-default" ng-click="vm.remove()">
                Remove
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th><input type="checkbox" ng-model="vm.searchContactBundle.isSelectedAll"
                           ng-click="vm.searchContactBundle.selectAll(vm.searchContactBundle.isSelectedAll)"></th>
                <th class="crm-hover" ng-click="vm.searchContactBundle.sortBy(vm.searchContactBundle.sortProperties.firstName)">
                        <span class="glyphicon" ng-show="vm.searchContactBundle.sortProperties.firstName.enabled"
                              ng-class="vm.searchContactBundle.sortProperties.firstName.asc ? 'glyphicon-sort-by-attributes' : 'glyphicon-sort-by-attributes-alt' ">

                        </span>
                    Full Name
                </th>
                <th class="crm-hover" ng-click="vm.searchContactBundle.sortBy(vm.searchContactBundle.sortProperties.email)">
                        <span class="glyphicon" ng-show="vm.searchContactBundle.sortProperties.email.enabled"
                              ng-class="vm.searchContactBundle.sortProperties.email.asc ? 'glyphicon-sort-by-attributes' : 'glyphicon-sort-by-attributes-alt' ">

                        </span>
                    Email
                </th>
                <th class="crm-hover hidden-xs" ng-click="vm.searchContactBundle.sortBy(vm.searchContactBundle.sortProperties.address)">
                        <span class="glyphicon" ng-show="vm.searchContactBundle.sortProperties.address.enabled"
                              ng-class="vm.searchContactBundle.sortProperties.address.asc ? 'glyphicon-sort-by-attributes' : 'glyphicon-sort-by-attributes-alt' ">

                        </span>
                    Address
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="crm-hover" ng-click="vm.edit(contact)"
                ng-repeat="contact in vm.searchContactBundle.itemsList">
                <td><input type="checkbox" ng-model="contact.checked"
                           ng-click="vm.searchContactBundle.selectOne();$event.stopPropagation()">
                </td>
                <td>{{contact.firstName + ' ' + contact.lastName}}</td>
                <td>{{contact.email}}</td>
                <td class="hidden-xs">{{contact.address}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<span class="pull-right" ng-hide="vm.bundle.paging.totalCount === 0">Total: {{vm.searchContactBundle.paging.totalCount}}</span>
<div class="crm-text-center">
    <uib-pagination class="pagination-sm" ng-change="vm.searchContactBundle.paging.onPageChanged()"
                    ng-model="vm.searchContactBundle.paging.currentPage"
                    total-items="vm.searchContactBundle.paging.totalCount"
                    items-per-page="vm.searchContactBundle.paging.itemsPerPage"
                    max-size="vm.searchContactBundle.paging.visiblePages"
                    boundary-link-numbers="true" rotate="false">
    </uib-pagination>
</div>
