<div class="panel panel-default">
    <div class="panel-heading">
        <crm-contact-table-header title="Workplaces"
                                  adding-function="vm.details.workplace.add"
                                  removing-function="vm.details.workplace.remove"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed" ng-show="vm.contact.workplaces.length>0">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Position</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="workplace in vm.contact.workplaces"
            ng-dblclick="vm.canEdit ? vm.details.workplace.edit(workplace, vm) : null">
            <td class="crm-narrow">
                <input type="checkbox" ng-model="workplace.checked" ng-show="vm.canEdit"
                       title="select workplace">
            </td>
            <td>{{workplace.name}}</td>
            <td>{{workplace.position}}</td>
            <td>{{workplace.startDate | date:'yyyy-MM-dd'}}</td>
            <td>{{workplace.endDate | date:'yyyy-MM-dd'}}</td>
            <td>{{workplace.comment}}</td>
        </tr>
        </tbody>
    </table>
</div>
