<div class="panel panel-default">
    <div class="panel-heading">
        <crm-contact-table-header title="Workplaces"
                                  adding-function="vm.details.workplace.add"
                                  removing-function="vm.details.workplace.remove"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed crm-table-fixed" ng-show="vm.contact.workplaces.length>0">
        <thead>
        <tr>
            <th class="crm-narrow"><input type="checkbox"
                       ng-show="vm.canEdit"
                       title="select workplace"
                       ng-click="vm.details.checkAll(vm.contact.workplaces, vm.contact.workplaces.isSelectedAll)"
                       ng-model="vm.contact.workplaces.isSelectedAll"></th>
            <th class="col-md-3 col-sm-3 col-xs-3">Name</th>
            <th class="col-md-3 col-sm-3 col-xs-3">Position</th>
            <th class="col-md-2 col-sm-3 col-xs-3">Start date</th>
            <th class="col-md-2 col-sm-3 col-xs-3">End date</th>
            <th class="col-md-2 hidden-sm hidden-xs">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="workplace in vm.contact.workplaces"
            ng-click="vm.canEdit ? vm.details.workplace.edit(workplace) : null"
            class="crm-hover">
            <td>
                <input type="checkbox"
                       ng-model="workplace.checked"
                       ng-show="vm.canEdit"
                       title="select workplace"
                       ng-click="vm.details.isAllSelected(vm.contact.workplaces); $event.stopPropagation()"
                       ng-init="vm.details.isAllSelected(vm.contact.workplaces)">
            </td>
            <td>{{workplace.name}}</td>
            <td>{{workplace.position}}</td>
            <td>{{workplace.startDate | date:'yyyy-MM-dd'}}</td>
            <td>{{workplace.endDate | date:'yyyy-MM-dd'}}</td>
            <td class="hidden-sm hidden-xs">{{workplace.comment}}</td>
        </tr>
        </tbody>
    </table>
</div>
