<form class="form-group">
    <div class="form-group">
        <label for="role-name">Name</label>
        <input id="role-name" class="form-control" name="role-name" ng-model="role.name">
    </div>
    <div class="form-group">
        <label for="role-description">Description</label>
        <textarea id="role-description" class="form-control" name="role-description"
                  ng-model="role.description"></textarea>
    </div>
    <div class="form-group">
        <label>Privileges</label>
        <ul class="list-unstyled list--scrollable">
            <li ng-repeat="privilege in privileges">
                <div class="col-md-1"><input type="checkbox" ng-model="privilege.checked" ng-checked="privilege.checked"></div>
                <div class="col-md-7">{{privilege.objectTypeName}}</div>
                <div class="col-md-4">{{privilege.actionName}}</div>
            </li>
        </ul>
    </div>
</form>
