<div class="col-md-offset-1 col-md-10">
    <div class="row">
        <div class="form-group">
            <div class="col-md-7">
                <span>&nbsp;</span>
                <input class="form-control" ng-model="vm.searchText" ng-change="vm.updateFilterObject()" placeholder="Search...">
            </div>
        </div>
    </div>
    <div class="table--fixed__wrapper">
        <table class="table table--fixed  text--unselectable">
            <caption>
                Roles
                <ul class="list-inline pull-right">
                    <li><span class="glyphicon glyphicon-plus hover--pointer" title="New Role" ng-click="vm.create()"></span></li>
                    <li><span class="glyphicon glyphicon-minus hover--pointer" title="Remove Role" ng-click="vm.remove()"></span></li>
                </ul>
            </caption>
            <thead>
            <tr>
                <td class="block--narrow"><input type="checkbox" ng-model="vm.isSelectedAll" ng-click="vm.selectAll(vm.isSelectedAll)"></td>
                <td class="block--narrow">#</td>
                <td class="hover--highlight" ng-click="vm.sortBy(vm.sortProperties.name)">
                    <div class="pull-left col-md-3"><span ng-show="vm.sortProperties.name.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' :  vm.sortProperties.name.asc, 'glyphicon-sort-by-attributes-alt' : !vm.sortProperties.name.asc}"></span></div>
                    Name
                </td>
                <td class="hover--highlight" ng-click="vm.sortBy(vm.sortProperties.description)">
                    <div class="pull-left col-md-3"><span ng-show="vm.sortProperties.description.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' :  vm.sortProperties.description.asc, 'glyphicon-sort-by-attributes-alt' : !vm.sortProperties.description.asc}"></span></div>
                    Description
                </td>
                <td class="block--narrow"></td>
            </tr>
            </thead>
            <tbody>
            <tr class="hover--highlight"  ng-dblclick="vm.edit(role)" ng-repeat="role in (vm.pageRoles = (vm.roleList | orderFilterPage:vm.orderFilterPageConfig))">
                <td><input type="checkbox" ng-model="role.checked" ng-click="vm.selectOne()" ng-dblclick="$event.stopPropagation()"></td>
                <td>{{vm.orderFilterPageConfig.itemsPerPage * (vm.orderFilterPageConfig.currentPage - 1) + ($index + 1)}}</td>
                <td>{{role.name}}</td>
                <td>{{role.description}}</td>
                <td><span class="glyphicon glyphicon-edit hover--pointer" title="Edit Role" ng-click="vm.edit(role)"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text--center">
        <uib-pagination class="pagination-sm" ng-model="vm.orderFilterPageConfig.currentPage" ng-change="vm.isSelectedAll = false; vm.selectAll(vm.isSelectedAll)"
                        total-items="vm.orderFilterPageConfig.totalItems" items-per-page="vm.orderFilterPageConfig.itemsPerPage" max-size="vm.orderFilterPageConfig.visiblePages"
                        boundary-links="true" rotate="false"></uib-pagination>
    </div>
</div>
