<crm-form-wrapper form-title="vm.title" submit-text="{{vm.attachment.filePath ? 'OK':null}}" cancel-text="Cancel"
                  submit-btn="vm.ok()"
                  cancel-btn="vm.cancel()" modal="true">
    <div class="form-group">
        <label for="attachmentFile">File input</label>
        <input type="file" nv-file-select uploader="vm.uploader" id="attachmentFile" ng-disabled="vm.attachment.name">
    </div>
    <div>
        <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="attachmentFileName">File name</label>
        <input type="text" id="attachmentFileName" class="form-control" placeholder="Type name of the file here"
               ng-model="vm.attachment.name" maxlength="100">
    </div>
    <div class="form-group">
        <label for="attachmentComment">Comment</label>
        <textarea id="attachmentComment" class="form-control" placeholder="Type your comment here"
        ng-model="vm.attachment.comment" rows="8"></textarea>
    </div>
</crm-form-wrapper>
