<div class="col-md-offset-2 col-md-8">
    <table class="table">
        <caption>
            Groups
            <span class="link glyphicon glyphicon-plus pull-right hover--pointer" title="New Group"
                  ng-click="vm.create()"></span>
        </caption>
        <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Description</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in vm.groupList">
            <td>{{$index + 1}}</td>
            <td>{{group.name}}</td>
            <td>{{group.description}}</td>
            <td><span class="link glyphicon glyphicon-edit hover--pointer" title="Edit Group"
                      ng-click="vm.edit(group)"></span></td>
        </tr>
        </tbody>
    </table>
</div>