<div class="crm-top-buffer">
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="true">
            <uib-accordion-heading>
                <div class="panel-heading" ng-init="options={canEdit:true}" ng-click="options.canEdit = !options.canEdit">
                    <crm-contact-table-header title="Contacts" adding-function="vm.addContact"
                                              removing-function="vm.removeContacts" vm="options"/>
                </div>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th><input ng-hide="vm.task.contacts.length === 0" type="checkbox"
                                       ng-model="vm.isSelectedAllContacts"
                                       ng-click="vm.selectAllContacts(vm.isSelectedAllContacts)"></th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th class="hidden-xs">Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="crm-hover" ng-repeat="contact in vm.task.contacts">
                            <td><input type="checkbox" ng-model="contact.checked" ng-click="vm.selectOneContact();$event.stopPropagation()"></td>
                            <td>{{contact.firstName + ' ' + contact.lastName}}</td>
                            <td>{{contact.emails.length > 0 ? contact.emails[0].name :''}}</td>
                            <td class="hidden-xs">{{contact.addresses.length > 0 ? contact.addresses[0].addressLine : ''}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="true">
            <div class="accordion--header">
                <uib-accordion-heading>
                    <div class="panel-heading" ng-init="options={canEdit:true}" ng-click="options.canEdit = !options.canEdit">
                        <crm-contact-table-header title="Companies" adding-function="vm.addCompany"
                                                  removing-function="vm.removeCompanies" vm="options"/>
                    </div>
                </uib-accordion-heading>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th><input ng-hide="vm.task.companies.length === 0" type="checkbox"
                                       ng-model="vm.isSelectedAllCompanies"
                                       ng-click="vm.selectAllCompanies(vm.isSelectedAllCompanies)"></th>
                            <th>Name</th>
                            <th>Number of Employees</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="crm-hover" ng-repeat="company in vm.task.companies">
                            <td><input type="checkbox" ng-model="company.checked" ng-click="vm.selectOneCompany();$event.stopPropagation()"></td>
                            <td>{{company.name}}</td>
                            <td>{{company.employeeNumberCategory.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>

