<span>
    <input id="anchor-privileges" class="form-control" ng-model="filterText" placeholder="Search privileges...">
    <div class="block--scrollable">
        <ul class="list--compact list-unstyled text--unselectable" ng-init="isCollapsed = true; selectOne(objectType)"
            ng-click="isCollapsed = !isCollapsed"
            ng-repeat="objectType in objectTypes | filter:{objectTypeName: filterText}">
            <li class="list--compact__collapse">
                <div class="row">
                    <div class="col-sm-1"><span class="glyphicon"
                                                ng-class="{'glyphicon-collapse-down' : isCollapsed, 'glyphicon-collapse-up' : !isCollapsed}"></span></div>
                    <div class="col-sm-1"><input type="checkbox" ng-model="objectType.isSelectAll"
                                                 ng-click="selectAll(objectType, objectType.isSelectAll); $event.stopPropagation()"></div>
                    <div class="col-sm-3"><span class="text-info"> {{objectType.objectTypeName}}</span></div>
                    <div class="col-sm-7 text-left">[<span
                            ng-repeat="action in objectType.actions | filter:{privilege:{checked: true}}">{{action.name}}{{$last ? '' : ', '}}</span>]</div>
                </div>
            </li>
            <li uib-collapse="isCollapsed">
                <ul class="list-unstyled">
                    <li ng-repeat="action in objectType.actions"
                        ng-click="action.privilege.checked = !action.privilege.checked; $event.stopPropagation();">
                        <div class="row">
                            <div class="col-sm-1 col-sm-offset-2"><input type="checkbox"
                                                                         ng-model="action.privilege.checked"
                                                                         ng-click="selectOne(objectType); $event.stopPropagation();"></div>
                            <div class="col-sm-9">{{action.name}}</div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</span>