<div class="block--scrollable">
    <input id="anchor-privileges" class="form-control" ng-model="filterText" placeholder="Search privileges...">
    <ul class="list--compact list-unstyled text--unselectable" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed" ng-repeat="objectType in objectTypes | filter:{objectTypeName: filterText}">
        <li class="list--compact__collapse">
            <span class="glyphicon" ng-class="{'glyphicon-collapse-down' : isCollapsed, 'glyphicon-collapse-up' : !isCollapsed}"></span>
            <span class="text-info"> {{objectType.objectTypeName}}</span>
            <span class="pull-right" ng-repeat="action in objectType.actions | filter:{privilege:{checked: true}}">{{action.name}}&nbsp;</span>
        </li>
        <li uib-collapse="isCollapsed">
            <ul class="list-unstyled">
                <li ng-repeat="action in objectType.actions" ng-click="action.privilege.checked = !action.privilege.checked; $event.stopPropagation();">
                    <input type="checkbox" ng-model="action.privilege.checked" ng-click="$event.stopPropagation();">
                    {{action.name}}
                </li>
            </ul>
        </li>
    </ul>
</div>