<div class="page-header">
    <h4>Companies</h4>
</div>
<div class="row crm-bottom-buffer">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="form-group">
            <input ng-model="vm.searchBundle.filter.text" ng-keyup="vm.searchBundle.typing.keyUp()"
                   ng-keydown="vm.searchBundle.typing.keyDown()" class="form-control"
                   placeholder="Search by name, country, city...">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="btn-group btn-group-justified pull-right">
            <a class="btn btn-default" ng-click="vm.add()">
                Add
            </a>
            <a class="btn btn-default" ng-click="vm.remove()">
                Remove
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="vm.searchBundle.isSelectedAll"
                           ng-click="vm.searchBundle.selectAll(vm.searchBundle.isSelectedAll)">
                        </th>
                        <th class="crm-hover" ng-click="vm.searchBundle.sortBy(vm.searchBundle.sortProperties.name)">
                            <span class="glyphicon" ng-show="vm.searchBundle.sortProperties.name.enabled"
                                  ng-class="vm.searchBundle.sortProperties.name.asc ? 'glyphicon-sort-by-attributes' : 'glyphicon-sort-by-attributes-alt' ">
                            </span>
                            Name
                        </th>
                        <!--  
                        <th class="crm-hover">
                            Country
                        </th>
                        <th class="crm-hover">
                            City
                        </th>
                        <th class="crm-hover">
                            Number of employees
                        </th>
                          -->
                    </tr>
                </thead>
                <tbody>
                    <tr class="crm-hover" ng-click="vm.edit(company)" ng-repeat="company in vm.searchBundle.itemsList">
                        <td><input type="checkbox" ng-model="contact.checked"
                           ng-click="vm.searchBundle.selectOne();$event.stopPropagation()">
                        </td>
                        <td>{{company.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>