<div class="table--fixed__wrapper">
    <table class="table table--fixed text--unselectable">
        <caption>
            Customers
            <ul class="list-inline pull-right">
                <li><span ng-click="vm.create()" title="Add New Customer" class="hover--pointer glyphicon glyphicon-plus" ></span></li>
                <li><span ng-click="vm.remove()" title="Remove Customer" class="hover--pointer glyphicon glyphicon-minus"></span></li>
            </ul>
        </caption>
        <thead>
        <tr>
            <td></td>
            <td>#</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Address</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in vm.customersList">
            <td><input type="checkbox" ng-model="c.checked"></td>
            <td>{{$index}}</td>
            <td>{{c.firstName}}</td>
            <td>{{c.lastName}}</td>
            <td>{{c.email}}</td>
            <td>{{c.address}}</td>
            <td><span class="hover--pointer glyphicon glyphicon-edit" ng-click="vm.edit(c)"></span></td>
        </tr>
        </tbody>
    </table>
</div>