<input ng-model="vm.searchCustomerBundle.filter.text" ng-keyup="vm.searchCustomerBundle.typing.keyUp()" ng-keydown="vm.searchCustomerBundle.typing.keyDown()" class="form-control" placeholder="Search by first name, last name, email, address...">
<div class="table--fixed__wrapper">
    <table class="table table--fixed text--unselectable">
        <caption>
            Customers
            <ul class="list-inline pull-right">
                <li ng-show="vm.isManager"><span ng-click="vm.create()" title="Add New Customer" class="hover--pointer glyphicon glyphicon-plus" ></span></li>
                <li><span ng-click="vm.remove()" title="Remove Customer" class="hover--pointer glyphicon glyphicon-minus"></span></li>
            </ul>
        </caption>
        <thead>
        <tr>
            <td class="block--narrow"></td>
            <td class="block--narrow">#</td>
            <td class="hover--highlight a" ng-click="vm.searchCustomerBundle.sortBy(vm.searchCustomerBundle.sortProperties.firstName)">
                <div class="pull-left col-md-3"><span ng-show="vm.searchCustomerBundle.sortProperties.firstName.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' : vm.searchCustomerBundle.sortProperties.firstName.asc, 'glyphicon-sort-by-attributes-alt' : !vm.searchCustomerBundle.sortProperties.firstName.asc}"></span></div>
                First name
            </td>
            <td class="hover--highlight" ng-click="vm.searchCustomerBundle.sortBy(vm.searchCustomerBundle.sortProperties.lastName)">
                <div class="pull-left col-md-3"><span ng-show="vm.searchCustomerBundle.sortProperties.lastName.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' :  vm.searchCustomerBundle.sortProperties.lastName.asc, 'glyphicon-sort-by-attributes-alt' : !vm.searchCustomerBundle.sortProperties.lastName.asc}"></span></div>
                Last name
            </td>
            <td class="hover--highlight" ng-click="vm.searchCustomerBundle.sortBy(vm.searchCustomerBundle.sortProperties.email)">
                <div class="pull-left col-md-3"><span ng-show="vm.searchCustomerBundle.sortProperties.email.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' : vm.searchCustomerBundle.sortProperties.email.asc, 'glyphicon-sort-by-attributes-alt' : !vm.searchCustomerBundle.sortProperties.email.asc}"></span></div>
                Email
            </td>
            <td class="hover--highlight" ng-click="vm.searchCustomerBundle.sortBy(vm.searchCustomerBundle.sortProperties.address)">
                <div class="pull-left col-md-3"><span ng-show="vm.searchCustomerBundle.sortProperties.address.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' : vm.searchCustomerBundle.sortProperties.address.asc, 'glyphicon-sort-by-attributes-alt' : !vm.searchCustomerBundle.sortProperties.address.asc}"></span></div>
                Address
            </td>
            <td class="block--narrow"></td>
        </tr>
        </thead>
        <tbody>
        <tr class="hover--highlight" ng-dblclick="vm.edit(customer)" ng-repeat="customer in vm.searchCustomerBundle.itemsList">
            <td><input type="checkbox" ng-model="customer.checked" ng-click="vm.searchCustomerBundle.selectOne()" ng-dblclick="$event.stopPropagation()"></td>
            <td>{{vm.searchCustomerBundle.filter.from + ($index + 1)}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>
            <td><span class="hover--pointer glyphicon glyphicon-edit" ng-click="vm.edit(customer)"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<span class="text--summary" ng-hide="vm.bundle.paging.totalCount === 0">Total: {{vm.searchCustomerBundle.paging.totalCount}}</span>
<div class="text--center">
    <uib-pagination class="pagination-sm" ng-change="vm.searchCustomerBundle.paging.onPageChanged()" ng-model="vm.searchCustomerBundle.paging.currentPage"
                    total-items="vm.searchCustomerBundle.paging.totalCount" items-per-page="vm.searchCustomerBundle.paging.itemsPerPage" max-size="vm.searchCustomerBundle.paging.visiblePages"
                    boundary-link-numbers="true" rotate="false">
    </uib-pagination>
</div>