<form class="form">
    <uib-tabset active="active">
        <uib-tab index="0" heading="Personal Info">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="customer-first-name">First name</label>
                    <input id="customer-first-name" class="form-control" ng-model="customer.firstName">
                </div>
                <div class="col-md-6 form-group">
                    <label for="customer-last-name">Last name</label>
                    <input id="customer-last-name" class="form-control" ng-model="customer.lastName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="customer-email">Email</label>
                    <input id="customer-email" class="form-control" ng-model="customer.email">
                </div>
                <div class="col-md-6 form-group">
                    <label for="customer-address">Address</label>
                    <input id="customer-address" class="form-control" ng-model="customer.address">
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Access">
            <table class="table">
                <caption>
                    Object rights
                    <ul class="list-inline pull-right">
                        <li><span ng-click="actions.addObjectRights()" class="hover--pointer glyphicon glyphicon-plus"></span></li>
                    </ul>
                </caption>
                <thead>
                <tr>
                    <td>Type</td>
                    <td>Name</td>
                    <td>Read</td>
                    <td>Write</td>
                    <td>Create</td>
                    <td>Delete</td>
                    <td>Admin</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in rights">
                    <td><span title="r.subObjectTypeName" ng-class="{'glyphicon glyphicon-user': r.subObjectTypeName === 'user', 'icon--user-group': r.subObjectTypeName === 'group'}"></span></td>
                    <td>{{r.name}}</td>
                    <td><input type="checkbox" ng-model="r.canRead"></td>
                    <td><input type="checkbox" ng-model="r.canWrite"></td>
                    <td><input type="checkbox" ng-model="r.canCreate"></td>
                    <td><input type="checkbox" ng-model="r.canDelete"></td>
                    <td><input type="checkbox" ng-model="r.canAdmin"></td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>
</form>