<div modal-render="{{$isRendered}}" tabindex="-1" role="dialog" class="modal"
     uib-modal-animation-class="fade" modal-in-class="in"
     ng-style="{'z-index': 1050 + index * 10, display: 'block'}">
    <div class="modal-dialog {{size ? 'modal-' + size : ''}}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$parent.cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="group-modal-view-label">{{$parent.title}}</h4>
            </div>
            <div class="modal-body" uib-modal-transclude></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$parent.cancel()">{{$parent.cancelTitle}}</button>
                <button type="button" class="btn btn-primary" ng-click="$parent.ok()">{{$parent.okTitle}}</button>
            </div>
        </div>
    </div>
</div>