<div class="panel panel-default">
    <div class="panel-heading">
        <crm-contact-table-header title="Addresses"
                                  adding-function="vm.details.address.add"
                                  removing-function="vm.details.address.remove"
                                  vm="vm"></crm-contact-table-header>
    </div>
    <table class="table table-condensed" ng-show="vm.contact.addresses.length>0">
        <thead>
        <tr>
            <th></th>
            <th>Address line</th>
            <th>Zipcode</th>
            <th>City</th>
            <th>Region</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="address in vm.contact.addresses"
            ng-dblclick="vm.details.address.edit(address, vm)">
            <td class="crm-v-middle crm-narrow">
                <input type="checkbox" ng-model="address.checked" ng-show="vm.canEdit" title="select address">
            </td>
            <td>{{address.addressLine}}</td>
            <td>{{address.zipcode}}</td>
            <td>{{address.city}}</td>
            <td>{{address.region}}</td>
            <td>{{(vm.dictionary.countries | filter:{id:address.country})[0].name}}</td>
        </tr>
        </tbody>
    </table>
</div>
