<form-panel title="vm.title" submit-text="vm.submitText" cancel-text="vm.cancelText" submit-btn="vm.submit()"
            cancel-btn="vm.cancel()">
    <form class="form-group">
        <div class="form-group">
            <label for="group-name">Name</label>
            <input id="group-name" class="form-control" name="group-name" ng-model="vm.group.name">
        </div>
        <div class="form-group">
            <label for="group-description">Description</label>
        <textarea id="group-description" class="form-control" name="group-description"
                  ng-model="vm.group.description"></textarea>
        </div>
    </form>
</form-panel>