<div class="datetime-picker">
    <div class="input-group" ng-init="isOpen = false" title="Set up a date">
        <p class="input-group">
            <input type="text" class="form-control"
                   uib-datepicker-popup
                   ng-model="model"
                   ng-change="onchange()"
                   is-open="isOpen"
                   datepicker-options="datepickerOptions"
                   close-text="Close" readonly/>
          <span class="input-group-btn" ng-disabled="!isEdit">
                <button type="button" class="btn btn-default" ng-click="isOpen = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
          </span>
        </p>
    </div>
</div>
