.datetime-group {
    .date-group {
        float: left;
        margin-right: 10px;
        label {
            padding: 0;
            margin: 0;
            height: 33px;
        }
        a.btn-link {
            outline: none;
        }
    }

    .time-group {
        display: inline-block;
    }

    .time-group .spinners-buffer {
        margin-top: 33px;
        margin-bottom: 33px;
    }
}
