<div class="datetime-group">
    <div class="date-group form-group">
        <label>{{label}}</label>
        <div class="input-group" ng-init="isOpen = false" title="Set up a date">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup
                       ng-model="model" ng-change="onchange({newValue: model, isDate: true})"
                       is-open="isOpen" datepicker-options="datepickerOptions"
                       close-text="Close" readonly/>
              <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disabled="!isEdit" ng-click="isOpen = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
              </span>
            </p>
        </div>
    </div>
    <div class="time-group form-group" ng-class="{'top-buffer': !isEdit}">
        <!--use two blocks, because properties 'show-spinners' and 'readonly-input' not updated after isEdit changed-->
        <div ng-show="isEdit">
            <uib-timepicker ng-model="model" ng-change="onchange({newValue: model, isDate: false})"
                            show-spinners="true" readonly-input="false" minute-step="5" show-meridian="false">
            </uib-timepicker>
        </div>
        <div ng-show="!isEdit">
            <uib-timepicker ng-model="model" ng-change="onchange({newValue: model, isDate: false})"
                            show-spinners="false" readonly-input="true" minute-step="5" show-meridian="false">
            </uib-timepicker>
        </div>
    </div>
</div>
