<div class="form-group-lg">
    <div class="col-md-7">
        <span>&nbsp;</span>
        <input class="form-control" ng-model="vm.filter.text" ng-keyup="vm.keyUp()" ng-keydown="vm.keyDown()"
               placeholder="Find users by username, email...">
    </div>
    <div class="col-md-2">
        <span class="text-info">Group</span>
        <select class="form-control" ng-change="vm.find(vm.filter)" ng-model="vm.filter.groupId">
            <option value="">Any</option>
            <option ng-repeat="group in vm.groups" value="{{group.id}}">{{group.name}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <span class="text-info">Role</span>
        <select class="form-control" ng-change="vm.find(vm.filter)" ng-model="vm.filter.roleId">
            <option value="">Any</option>
            <option ng-repeat="role in vm.roles" value="{{role.id}}">{{role.name}}</option>
        </select>
    </div>
    <div class="col-md-1">
        <label for="active" class="text-info">Active</label>
        <input id="active" type="checkbox" class="form-control" ng-change="vm.find(vm.filter)"
               ng-model="vm.filter.active" ng-checked="vm.filter.active">
    </div>
</div>
<table class="table table-hover">
    <caption>
        Users<span>({{vm.paging.totalQuantity > 0 ? vm.paging.totalQuantity : 0}})</span>
        <a href="#/users/new" class="pull-right" title="New user">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </caption>
    <thead class="table__head--filters">
    <tr>
        <td><input type="checkbox" ng-model="vm.isSelectedAll" ng-click="vm.selectAll(vm.isSelectedAll)"></td>
        <td>#</td>
        <td ng-click="vm.sortBy(vm.sortProperties.firstName)" ng-class="{'table__head-filter--active' : vm.sortProperties.firstName.isUsage}">
            <span class="glyphicon active" ng-class="{'glyphicon-arrow-down' : vm.sortProperties.firstName.asc, 'glyphicon-arrow-up' : !vm.sortProperties.firstName.asc}"></span>
            First name
        </td>
        <td ng-click="vm.sortBy(vm.sortProperties.lastName)" ng-class="{'table__head-filter--active' : vm.sortProperties.lastName.isUsage}">
            <span class="glyphicon" ng-class="{'glyphicon-arrow-down' :  vm.sortProperties.lastName.asc, 'glyphicon-arrow-up' : !vm.sortProperties.lastName.asc}"></span>
            Last name
        </td>
        <td ng-click="vm.sortBy(vm.sortProperties.userName)" ng-class="{'table__head-filter--active' : vm.sortProperties.userName.isUsage}">
            <span class="glyphicon" ng-class="{'glyphicon-arrow-down' : vm.sortProperties.userName.asc, 'glyphicon-arrow-up' : !vm.sortProperties.userName.asc}"></span>
            Username
        </td>
        <td ng-click="vm.sortBy(vm.sortProperties.email)" ng-class="{'table__head-filter--active' : vm.sortProperties.email.isUsage}">
            <span class="glyphicon" ng-class="{'glyphicon-arrow-down' : vm.sortProperties.email.asc, 'glyphicon-arrow-up' : !vm.sortProperties.email.asc}"></span>
            Email
        </td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr class="text--unselectable" ng-class="{'table__row--active' : user.active, 'table_row--inactive' : !user.active}" ng-repeat="user in vm.userList" ng-click="vm.selectOneByClick(user)" ng-dblclick="vm.edit(user.id)">
        <td><input type="checkbox" ng-model="user.checked" ng-click="vm.selectOne(user, $event)"></td>
        <td>{{vm.filter.from + ($index + 1)}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td><a href="#/users/{{user.id}}" title="Edit user"><span class="btn glyphicon glyphicon-edit"></span></a></td>
    </tr>
    </tbody>
</table>
<div class="col-md-offset-4">
    <pagination paging="vm.paging"></pagination>
</div>