<div class="form-group">
    <div class="col-md-7">
        <span>&nbsp;</span>
        <input class="form-control" ng-model="vm.filter.text" ng-keyup="vm.keyUp()" ng-keydown="vm.keyDown()"
               placeholder="Find users by username, email...">
    </div>
    <div class="col-md-2">
        <span class="text-info">Group</span>
        <select class="form-control" ng-change="vm.find(vm.filter)" ng-model="vm.filter.groupId">
            <option value="">Any</option>
            <option ng-repeat="group in vm.groups" value="{{group.id}}">{{group.name}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <span class="text-info">Role</span>
        <select class="form-control" ng-change="vm.find(vm.filter)" ng-model="vm.filter.roleId">
            <option value="">Any</option>
            <option ng-repeat="role in vm.roles" value="{{role.id}}">{{role.name}}</option>
        </select>
    </div>
    <div class="col-md-1">
        <span class="text-info">Active</span>
        <input type="checkbox" class="form-control" ng-change="vm.find(vm.filter)"
               ng-model="vm.filter.active" ng-checked="vm.filter.active">
    </div>
</div>
<div class="table--fixed__wrapper">
    <table class="table table--fixed text--unselectable">
        <caption>
            Users
            <span ng-click="vm.activate(false)" title="Deactivate User(s)" class="block--narrow hover--pointer glyphicon glyphicon-thumbs-down pull-right"></span>
            <span ng-click="vm.activate(true)" title="Activate User(s)" class="block--narrow hover--pointer glyphicon glyphicon-thumbs-up pull-right"></span>
            <span ng-click="vm.add()" title="Add New User" class="block--narrow hover--pointer glyphicon glyphicon-plus pull-right"></span>
        </caption>
        <thead>
        <tr>
            <td class="block--narrow"><input type="checkbox" ng-model="vm.isSelectedAll" ng-click="vm.selectAll(vm.isSelectedAll)"></td>
            <td class="block--narrow">#</td>
            <td class="hover--highlight a" ng-click="vm.sortBy(vm.sortProperties.firstName)">
                <div class="pull-left col-md-3"><span ng-show="vm.sortProperties.firstName.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' : vm.sortProperties.firstName.asc, 'glyphicon-sort-by-attributes-alt' : !vm.sortProperties.firstName.asc}"></span></div>
                First name
            </td>
            <td class="hover--highlight" ng-click="vm.sortBy(vm.sortProperties.lastName)">
                <div class="pull-left col-md-3"><span ng-show="vm.sortProperties.lastName.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' :  vm.sortProperties.lastName.asc, 'glyphicon-sort-by-attributes-alt' : !vm.sortProperties.lastName.asc}"></span></div>
                Last name
            </td>
            <td class="hover--highlight" ng-click="vm.sortBy(vm.sortProperties.userName)">
                <div class="pull-left col-md-3"><span ng-show="vm.sortProperties.userName.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' : vm.sortProperties.userName.asc, 'glyphicon-sort-by-attributes-alt' : !vm.sortProperties.userName.asc}"></span></div>
                Username
            </td>
            <td class="hover--highlight" ng-click="vm.sortBy(vm.sortProperties.email)">
                <div class="pull-left col-md-3"><span ng-show="vm.sortProperties.email.enabled" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes' : vm.sortProperties.email.asc, 'glyphicon-sort-by-attributes-alt' : !vm.sortProperties.email.asc}"></span></div>
                Email
            </td>
            <td class="block--narrow"></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="{'hover--highlight' : user.active, 'table_row--inactive' : !user.active}" ng-repeat="user in vm.userList" ng-dblclick="vm.edit(user)">
            <td><input type="checkbox" ng-model="user.checked" ng-click="vm.selectOne()" ng-dblclick="$event.stopPropagation()"></td>
            <td>{{vm.filter.from + ($index + 1)}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td><span title="Edit user" class="hover--pointer glyphicon glyphicon-edit" ng-click="vm.edit(user)"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<span class="text--summary" ng-hide="vm.paging.totalCount === 0">Total: {{vm.paging.totalCount}}</span>
<div class="col-md-4 col-md-offset-5">
    <uib-pagination class="pagination-sm" ng-change="vm.paging.onPageChanged()" ng-model="vm.paging.currentPage"
                    total-items="vm.paging.totalCount" items-per-page="vm.paging.itemsPerPage" max-size="vm.paging.visiblePages"
                    boundary-link-numbers="true" rotate="false">
    </uib-pagination>
</div>